.judul1{
    font-variant: small-caps;
    background-color: red;
    height: 40px;
    margin-top: 25px;
    margin-bottom: 25px;
    
}
.judul2{
    font-variant: small-caps;
    background-color: aqua;
}